.venv/
.vscode/

dataset/csvIntermediate
dataset/unused
dataset/apiKey

seleniumTests/__pycache__
webworkspace/mrt/__pycache__
webworkspace/djangoproject/__pycache__
webworkspace/mrt/migrations/__pycache__
webworkspace/db.sqlite3

geckodriver-v0.36.0-linux64.tar.gz
.pytest_cache/